[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cirq = "*"
benchq = {path = "/home/madhav/software/benchq"}
orquestra = "*"
confapp = "*"
stim = "*"

[dev-packages]

[requires]
python_version = "3.10"
